* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgba(218, 171, 171, 0.274);
}

.content-form {
  width: 100vw;
  height: 100vh;
  display: grid;
}

h1 {
  text-align: center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-form .form {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  border: 1px solid rgba(0, 0, 0, 0.021);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}
.content-form input,
.content-form textarea {
  border: none;
  resize: none;
}

.preto {
  background: #000;
}

.content-form input {
  padding: 5px;
  width: 78%;
}

.content-form div {
  background: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.area {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.area textarea {
  padding-left: 3px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background: initial !important;
  border-radius: 0px !important;
  box-shadow: initial !important;
  gap: 20px;
}

button {
  width: 150px;
  height: 40px;
  display: grid;
  align-items: center;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.invalid {
  border: 2px solid red !important;
}
div form div {
  position: relative;
}

div form div span {
  position: absolute;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  top: 40px;
  right: 68px;
}

.inptAddress span {
  position: absolute;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  top: 40px;
  right: 15px;
}
.area span {
  position: absolute;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  top: 90px;
  right: 55px;
}
