* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.content {
  width: 100vw;
  height: 100vh;
  display: grid;
}

h1 {
  text-align: center;
  background: white;
  padding-bottom: 40px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 3px solid rgba(218, 171, 171, 0.623);
}

.header p {
  color: rgba(0, 0, 0, 0.466);
}

.content-infos {
  margin: auto auto;
  background: rgba(218, 171, 171, 0.274);
  width: 850px;
}

.content-json section {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  align-items: center;
  width: 100%;
  padding: 5px;
  /* cursor: pointer; */
  border: none;
  background: rgba(218, 171, 171, 0.623);
}
.content-json section p {
  text-align: left;
}

.content-json section a {
  text-align: center;
  margin-right: 150px;
}

.content-json:nth-child(odd) {
  background: rgba(218, 171, 171, 0.77);
}

.content-json dt section::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./assets/arrow24.svg);
  transition: 0.3s;
}

.content-json dt section[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.addressNotes {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  background: white;
  padding-bottom: 10px;
}

.addressNotes {
  display: none;
}

.actived {
  display: grid;
}
/* .actived::after{
  transform: rotate(180deg);
} */

.address {
  margin-left: 10px;
}

.address dd {
  margin-top: 5px;
  margin-bottom: 10px;
}

.address dd:nth-child(2) {
  margin-top: 10px;
}

.notes {
  margin-left: 10px;
}

.notes dd {
  margin-top: 5px;
  margin-bottom: 10px;
}

.notes div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3px;
}

.notes div p {
  word-break: break-word;
  margin-right: 10px;
  margin-top: 6px;
}

.return {
  display: grid;
  grid-template-columns: 150px 150px;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  height: 50px;
}
.return a {
  padding: 10px 30px;
  background: rgba(218, 171, 171, 0.623);
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.125rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.return button {
  cursor: pointer;
  padding: 10px 30px;
  background: rgba(218, 171, 171, 0.623);
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border: none;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#map {
  height: 300px;
  width: 300px;
}
